## 准备数据

In [2]:
import datetime as dt

import yfinance as yf

In [3]:
# 参数
ticker = "BTC-USD"
start_date = dt.datetime(2010, 1, 1)
end_date = dt.datetime(2025, 1, 1)

# 下载数据
data = yf.download(ticker, start=start_date, end=end_date, ignore_tz=True)
data.columns = data.columns.droplevel(1)  # 将多重索引转化为简单索引
data = data[["Open", "High", "Low", "Close", "Volume"]]
data.index.name = "date"
data.columns = [x.lower() for x in data.columns]

data

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

,open,high,low,close,volume
date,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,26580100
...,...,...,...,...,...
2024-12-27,95704.976562,97294.843750,93310.742188,94164.859375,52419934565
2024-12-28,94160.187500,95525.898438,94014.289062,95163.929688,24107436185
2024-12-29,95174.054688,95174.875000,92881.789062,93530.226562,29635885267
2024-12-30,93527.195312,94903.320312,91317.132812,92643.210938,56188003691
2024-12-31,92643.250000,96090.601562,91914.031250,93429.203125,43625106843

In [4]:
data.to_csv("btcusd.csv", index=True)